<div class='about'>
    <p>This code is hosted at <%= link_to nil, 'https://github.com/harvey-earth/counter-app', :target => '_blank' %>.</p>
    <p>There is a walkthrough on how this was created at <%= link_to nil, 'https://harvey.earth/helpful-links/getting-started/counter/', :target => '_blank' %>.</p>
</div>